@font-face{
    font-family: "sensei";
    src: url(../fonts/sensei/Sensei-Medium.ttf);
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: white;
}

.top-bar{
    padding:20px;
    border-bottom: 3px #78be20  double;
    background:white;
}

.top-bar-right{
    margin-top: 160px;  
    background:white;
}

a{
    float:right; 
    text-align: right;
    background:white;
    color: #135c1a;
    font-size: 20px;
    font-family: "sensei",Arial, Helvetica, sans-serif;
    margin-left:20px;
}

a:hover {
    color:#78be20;
}

/* #funFactBlock{
    background:#135c1a;
    height: 400px;
    padding: 50px;
} */

.thumbnail{
    height:300px;
    width: 300px;
    float: right;
    border-radius: 8px;
}

#actionBlock{
    background: url(../images/brokenGlass.jpg);
    height:400px;
    padding: 50px;
}

h1{
    text-align: center;
    padding: 15px;
    font-family: 'sensei','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 52px;
    color: white;
}

h2{
    text-align: center;
    padding: 15px;
    font-family: 'montserrat','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    color: white;
}

label{
    color:white;
    font-weight: bold;
    margin-bottom: 60px;
    float:left;
}


input,
.button{
    background: #135c1a;
    font-family: 'montserrat','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 25px 10px 25px;
    /* margin:auto; */
    color: white;
    font-size: 28px;
}



@media screen and (max-width:415px){

    #actionBlock{
        height:600px;
    }

    .top-bar-right{
        margin-top: 60px;  
    }
    

}






input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    color: green;
  }

label {
    color: green;
}